@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #1976d2;
  --on-primary: #ffffff;
  --primary-container: #d3e4fd;
  --on-primary-container: #001c38;

  --secondary: #00897b;
  --on-secondary: #ffffff;
  --secondary-container: #b2dfdb;
  --on-secondary-container: #002019;

  --surface: #ffffff;
  --on-surface: #1a1c1e;
  --surface-variant: #e1e2ec;
  --on-surface-variant: #44474f;
  --surface-container: #f3f4f9;

  --outline: #74777f;
  --outline-variant: #c4c6d0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --primary: #a8c7fa;
    --on-primary: #003258;
    --primary-container: #004a77;
    --on-primary-container: #d3e4fd;

    --secondary: #4db6ac;
    --on-secondary: #00382f;
    --secondary-container: #005047;
    --on-secondary-container: #b2dfdb;

    --surface: #1a1c1e;
    --on-surface: #e2e2e5;
    --surface-variant: #44474f;
    --on-surface-variant: #c4c6d0;
    --surface-container: #2b2d30;

    --outline: #8e9099;
    --outline-variant: #44474f;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
